.basic-settings .basic-settings-item {
  margin-bottom: 0.5rem;
}
.basic-settings .basic-settings-item > button {
  margin: 4px 0;
}
.basic-settings .basic-settings-item .btn-group .btn {
  padding: 6px 10px;
}
