#main {
  height: 100%;
  width: calc(100%);
  background-color: #fafaf9;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
#main .folder-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50% 0 0 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 30px;
  padding-left: 7px;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .long-page {
  overflow: auto;
  height: 100%;
  padding: 80px 60px;
  background-size: cover;
}
#main .long-page .long-page-container {
  line-height: 1.5;
  font-size: 16px;
  border: 1px solid #e6e6dd;
  padding: 50px;
  background-color: #fff;
  word-break: break-word;
}
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  width: calc(100% - 20px);
}
.mobile-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.mobile-header h1 {
  font-size: 20px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #main .long-page {
    padding: 0;
  }
  #main .long-page .long-page-container {
    padding: 0 20px;
  }
}
