@import "../css/variables.less";

.navs {
  background-color: @background-color;
  flex-shrink: 0;
  border-right: 1px solid @border-color;
  .navs-header {
    height: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    .navs-header-search {
      display: flex;
      .navs-header-search-input {
        margin: 0 5px;
        border: 0;
        border-bottom: 1px solid @border-color;
        border-radius: 0;
        background-color: @background-color;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .navs-header-icon {
      color: @icon-color;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      cursor: pointer;
    }
  }
  .navs-body {
    height: calc(100% - 80px);
    overflow-y: auto;
    .navs-body-item {
      padding: 4px 10px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: @highlight-color;
      }
      .navs-body-item-name {
        width: calc(100% - 20px);
      }
      .navs-body-item-delete {
        width: 20px;
        color: @icon-color;
      }
    }
  }
  .navs-footer {
    height: 40px;
    .btn {
      width: 100%;
    }
  }
}
