.navs {
  background-color: #fafafa;
  flex-shrink: 0;
  border-right: 1px solid #cccccc;
}
.navs .navs-header {
  height: 40px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.navs .navs-header .navs-header-search {
  display: flex;
}
.navs .navs-header .navs-header-search .navs-header-search-input {
  margin: 0 5px;
  border: 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  background-color: #fafafa;
}
.navs .navs-header .navs-header-search .navs-header-search-input:focus {
  box-shadow: none;
}
.navs .navs-header .navs-header-icon {
  color: #999999;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
}
.navs .navs-body {
  height: calc(100% - 80px);
  overflow-y: auto;
}
.navs .navs-body .navs-body-item {
  padding: 4px 10px;
}
.navs .navs-body .navs-body-item:hover {
  cursor: pointer;
}
.navs .navs-body .navs-body-item.active {
  background-color: #eeeeee;
}
.navs .navs-body .navs-body-item .navs-body-item-name {
  width: calc(100% - 20px);
}
.navs .navs-body .navs-body-item .navs-body-item-delete {
  width: 20px;
  color: #999999;
}
.navs .navs-footer {
  height: 40px;
}
.navs .navs-footer .btn {
  width: 100%;
}
