#main {
  height: 100%;
  width: calc(100%);
  background-color: #fafaf9;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
#main .folder-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50% 0 0 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 30px;
  padding-left: 7px;
  color: #666;
}
