#main {
  position: relative;
}
#main .folder-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50% 0 0 50%;
  border: 1px solid #ccc;
  border-right: none;
  cursor: pointer;
  line-height: 30px;
  padding-left: 7px;
  color: #666;
}
