/* common style */
.text-truncate{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.error {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* 这个放在 setting 中 */
.setting-divide-line {
  margin: 14px 16px;
  border-bottom: 1px solid #e2e2e2;
}
