.comment-list {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  .comment-item {
    border: 1px solid #ccc;
    margin-top: 10px;
    .comment-btns {
      padding: 10px 0px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
